.ListeDevis {
    display: flex;
    width: 100%;
    height: 100%;
}

.listedevis-data {
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    margin-right: 2%;
}

.listedevis-data-entete
{
    display:grid;
    background-color: whitesmoke;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.listedevis-data-ligne
{
    display:grid;
    border-bottom:1px dotted black; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;

}

.listedevis-data-ligne-link
{
    color:blue;
    cursor:pointer;
    text-decoration-line:underline;
}