.EditDevis {
    display: flex;
    width: 100%;
    height: 100%;

}

.editdevis-data-entete {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.editdevis-data-form {
    flex-direction: column;
}

.editdevis-data-submit {
    /* flex-direction: column; */
}