/* .MenuComm {
    display: flex;
    top: 0;
    width: 15%;
    height: 100%;
    left: 0;
    background-color:lightslategray;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
}

.p {
    color: white;
} */

.MenuComm {
    display: flex;
    top: 0;
    width: 15%;
    height: 100%;
    left: 0;
    background-color:whitesmoke;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
}

.p {
    color: black;
}