.Login
{
    display:flex;
    align-items: center;
    justify-content: center;
    width:100%;
    height:100%;
    background-image:linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)),url('../../Images/background.jpg');
    background-position: center;
}

.login-cadre
{
    display:flex;
    align-items: center;
    justify-content: center;
    width:500px;
    background-color: white;
    height:300px;
    flex-direction:column;
    border-radius:2px;
    border:1px solid transparent;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.logo-accueil
{
    width:20%;
    margin-bottom:2%;
}

.login-cadre-user
{
    display:flex;
    position:relative;
    align-items:center;
    justify-content: center;
    width:100%;
    height:auto;
}

.login-cadre-user img
{
    width:4%;
    position:absolute;
    top:5%;
    left:24%;
    height:auto;
}

.login-cadre-pwd
{
    display:flex;
    position:relative;
    align-items:center;
    justify-content: center;
    width:100%;
}

.login-cadre-pwd img
{
    position:absolute;
    width:4%;
    left:24%;
    top:5%;
    height:auto;
}

.login-cadre input
{
    width:40%;
    border:none;
}

.login-ligne
{
    width:40%;
    margin-bottom:2%;
    color:black;
}

.login-cadre button
{
    width:50%;
    margin-top:2%;
    cursor:pointer;
    background-color: whitesmoke;
    color:black;
    font-weight:bold;
    border:1px solid gainsboro;
    height:35px;
    text-transform:uppercase;
}



