.CorpsFuncButton {
    display: flex;
    justify-content: center;
    align-items: center;
}

.corpsfuncbutton-data-actions button {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.corpsfuncbutton-data-actions button:hover {
    background-color: lightgreen;
}
